@model MCBA.ViewModel.CreateBillPayViewModel
@{
    ViewData["Title"] = "Create BillPay";
}

<div class="text-center">
    <h1>Create a new scheduled payment</h1>
    <p>Please complete the form below to make a new scheduled payment.</p>
</div>

<div>

</div>